@page
@model salerapp.Pages.DeleteAccountModel
@{
    ViewData["Title"] = "Delete Account";

    // Redirect if no user is currently logged in; else load listing information
    if (HttpContextAccessor.HttpContext.Session.GetString("_User") is null)
    {
        Response.Redirect("/");
    }


    <main class="form w-100 m-auto text-center container">
        <h1 class="display-6 fw-bold lh-1 mb-4" style="text-align:left; margin-left: 12.5%; margin-right: 12.5%; margin-top: 5%;">Delete Account</h1>
        <h3 class="display-10 fw-bold lh-1 mb-4" style="text-align:center;">Are you sure you want to delete your account and all your data?</h3>
        <form style="margin-left: 37.5%; margin-right: 37.5%;" method="post">
            <span>
                <a role="button" class="w-100 btn btn-lg btn-secondary" style="margin-top: 5px;" href="@Url.Content("/")">Cancel</a>
                <button class="w-100 btn btn-lg btn-danger" style="margin-top: 5px;" type="submit">Delete Account</button>
            </span>
        </form>
    </main>
}
