@page
@model LoginModel
@{
    ViewData["Title"] = "Login";

	// Ensure that no user is currently logged in; else redirect
	if (HttpContextAccessor.HttpContext.Session.GetString("_User") is not null)
	{
		Response.Redirect("/");
	}
}

<!-- Warning messages -->
@foreach (var warning in Model.warnings)
{
	<div class="alert alert-danger" role="alert" style="margin: 10px; margin-left: 27.5%; margin-right: 27.5%;">
		@warning
	</div>
}

<!-- Main form -->
<main class="form-signin w-100 m-auto text-center">
	<form style="margin-left: 37.5%; margin-right: 37.5%; margin-top: 5%;" method="post">
		<img class="mb-4" src="@Url.Content("~/Images/saler-boat.png")" alt="" width="72">
		<h1 class="h3 mb-3 fw-normal">Sign In</h1>

		<div class="form-floating" style="margin: 5px;">
			@(Html.TextBoxFor(t => t.identification, new { @type = "text", @class = "form-control", @id = "floatingInput", @required = "true" }))
			<label for="floatingInput">Username / Email Address</label>
		</div>
		<div class="form-floating" style="margin: 5px;">
			@(Html.TextBoxFor(t => t.password, new { @type = "password", @class = "form-control", @id = "floatingInput", @required = "true" }))
			<label for="floatingPassword">Password</label>
		</div>
		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		<small class="text-muted">Not registered? <a href="@Url.Content("~/Register")">Sign up today to get started</a></small>
	</form>
</main>