@page
@{
    ViewData["Title"] = "Register";
}

<main class="form-signin w-100 m-auto text-center">
	<form style="margin-left: 37.5%; margin-right: 37.5%; margin-top: 5%;">
		<img class="mb-4" src="@Url.Content("~/Images/saler-boat.png")" alt="" width="72">
		<h1 class="h3 mb-3 fw-normal">Sign-up</h1>


		<div class="form-floating" style="margin: 5px;">
			<input type="email" class="form-control" id="floatingInput">
			<label for="floatingInput">Username *</label>
		</div>
		<div class="form-floating" style="margin: 5px;">
			<input type="email" class="form-control" id="floatingInput">
			<label for="floatingInput">Email address *</label>
		</div>
		<div class="form-floating" style="margin: 5px;">
			<input type="email" class="form-control" id="floatingInput">
			<label for="floatingInput">Confirm email address *</label>
		</div>
		<div class="form-floating" style="margin: 5px;">
			<input type="password" class="form-control" id="floatingPassword">
			<label for="floatingPassword">Password *</label>
		</div>
		<div class="form-floating" style="margin: 5px;">
			<input type="password" class="form-control" id="floatingPassword">
			<label for="floatingPassword">Confirm password *</label>
		</div>

		<button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
	</form>
</main>