@page

@{
    ViewData["Title"] = "Resources";
}

<h1 class="display-5 fw-bold text-center" style="margin: 2%;">Project-Related Resources</h1>
<div style="margin: 5%;">
	<h3 class="fw-bold text">Problem-Domain Book</h3>
	<p><strong>Software Engineering, 10th Edition by Ian Sommerville (ISBN: 9332582696):</strong> This book outlines general software development processes and strategies used in software development. This includes strategies regarding initial design stages, development, and maintenance. There is also information about security, application frameworks, and service-oriented software engineering. The latter includes details about RESTful services, which may be relevant to the features of this project.</p>
</div>
<div style="margin: 5%;">
	<h3 class="fw-bold text">Project-Related Websites</h3>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="https://developers.google.com/maps/apis-by-platform"><strong>Google Maps API List:</strong></a> This link provides a list of links to different API for Google Maps. There are several options, including the Directions API and Distance Matrix API. Each individual API link contains a developer guide, best practices, and a setup guide for using the API.
		</li>
		<li class="list-group-item">
			<a href="https://wiki.openstreetmap.org/wiki/API"><strong>OpenStreetMap API Wiki:</strong></a> OpenStreetMap is an open-source alternative to Google Maps and another possibility for implementing our routing feature. This wiki page offers links to in-depth information on using OpenStreetMap’s API in development, including a link to a guide for embedding OpenStreetMap into web pages.
		</li>
		<li class="list-group-item">
			<a href="https://www.thoughtco.com/searching-your-site-3466200"><strong>Adding Search Functionality To Your Website:</strong></a> This web article describes different ways to add search functionality to a website. There is information about Content Management Systems (CMS) and using local Common Gateway Interface (CGI) scripts to implement search functionalities. Additionally, the page lists some search services that can be embedded within a site.
		</li>
		<li class="list-group-item">
			<a href="https://www.geeksforgeeks.org/which-database-you-should-choose-for-web-developement/"><strong>Which Database You Should Choose For Web Development?:</strong></a> This Geeks for Geeks article dives into the advantages and disadvantages of using particular database systems in web development. Each database system is described with a short summary, a bullet point list of features, and links to further resources. Eight such database systems are highlighted, including MySQL and MongoDB.
		</li>
	</ul>
</div>