html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.listings .card {
    outline-width: 1px;
    outline-color: #ededed;
    outline-style: groove;
}

    .listings .card:nth-child(even) {
        background-color: #023d96;
        color: white;
    }